<div class="container-xxl mt-5 mx-5">

  <h2><mark>会員情報編集</mark></h2>

  <div class="customer-edit row mt-5" style="margin-left: 0; margin-right: 0; padding-left: 0;">
    <%= form_with model: @customer, url: customer_path, class: "col-12", local: true do |f| %>
      <%= render "customer/shared/error_messages_customer_edit", model: f.object %>
      <%= f.label "名前", class: "col-2 mr-3" %>
      <%= f.text_field :last_name, autocomplete: "last_name", class: "col-2 mr-3" %>
      <%= f.text_field :first_name, autocomplete: "first_name", class: "col-2" %>
      <div class="w-100"></div>
      <%= f.label "フリガナ", class: "col-2 mr-3" %>
      <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", class: "col-2 mr-3" %>
      <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", class: "col-2" %>
      <div class="w-100"></div>
      <%= f.label "郵便番号", class: "col-2 mr-3" %>
      <%= f.text_field :postcode, autocomplete: "postcode", class: "col-2"  %>
      <div class="w-100"></div>
      <%= f.label "住所", class: "col-2 mr-3" %>
      <%= f.text_field :address, autocomplete: "address", class: "col-5" %>
      <div class="w-100"></div>
      <%= f.label "電話番号", class: "col-2 mr-3" %>
      <%= f.text_field :phone, autocomplete: "phone", class: "col-2" %>
      <div class="w-100"></div>
      <%= f.label "メールアドレス", class: "col-2 mr-3" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-2" %>
      <div class="actions mt-4 text-center">
        <%= f.submit "編集内容を保存", class: "btn btn-success mr-5" %>
        <%= link_to "退会する", quit_customer_path, class: "btn btn-danger ml-5" %>
      </div>
    <% end %>
  </div>
</div>