<div class="container-xxl mt-5 mx-5">
  <h2>会員情報編集</h2>
    <div class="customer-edit row mt-5 margin-left: 0; margin-right: 0; padding-left: 0;">
      <div class="col-6">
        <%= form_with model: @customer, url: customer_update_path, class: "col-12", local: true do |f| %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>名前</td>
                <td><%= f.text_field :last_name, autocomplete: "last_name" %></td>
                <td><%= f.text_field :first_name, autocomplete: "first_name" %></td>
              </tr>
              <tr>
                <td>フリガナ</td>
                <td><%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %></td>
                <td><%= f.text_field :first_name_kana, autocomplete: "first_name_kana" %></td>
              </tr>
              <tr>
                <td>郵便番号</td>
                <td><%= f.text_field :postcode, autocomplete: "postcode" %></td>
              </tr>
              <tr>
                <td>住所</td>
                <td><%= f.text_field :address, autocomplete: "address" %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= f.email_field :email, autocomplete: "email" %></td>
              </tr>
              <tr>
                <td>電話番号</td>
                <td><%= f.text_field :phone_number, autocomplete: "phone_number" %></td>
              </tr>
              <tr>
                <td><%= f.submit "編集内容を保存", class: "btn btn-success mr-5" %></td>
                <td><%= link_to "退会する", quit_customer_path, class: "btn btn-danger ml-5" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
</div>