<%= render 'layouts/header' %>
<div class='container'>
<div class='row pt-5'>
<div class="col-sm-12 col-md-11 col-lg-10 px-sm-0 mx-auto tr-color p-4">
<div class="ml-2">
  <h5>新規会員登録</h5>
</div>
<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="form ml-2">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>名前</td>
          <td>(姓)</td>
          <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "令和" %></td>
          <td>(名)</td>
          <td><%= f.text_field :last_name, autocomplete: "last_name", placeholder: "道子" %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td>(セイ)</td>
          <td><%= f.text_field :first_name_kana, autocomplete: "first_name", placeholder: "レイワ" %></td>
          <td>(メイ)</td>
          <td><%= f.text_field :last_name_kana, autocomplete: "last_name", placeholder: "ミチコ" %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td></td>
          <td><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %></td>
        </tr>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td></td>
          <td><%= f.text_field :postcode, autocomplete: "postcode", placeholder: "0000000" %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td></td>
          <td><%= f.text_field :address, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0", size: 40 %></td>
        </tr>
        <tr>
          <td>電話番号(ハイフンなし)</td>
          <td></td>
          <td><%= f.telephone_field :phone_number, autocomplete: "phone_number", placeholder: "0000000000" %></td>
        </tr>
        <tr>
          <td>パスワード(６文字以上)</td>
          <td></td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td>パスワード(確認用)</td>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= f.submit "新規登録", class:"btn btn-sm btn-success" %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
<%= render "public/shared/links" %>
</div>
</div>
</div>
