<%= render 'layouts/header' %>
<h5>新規会員登録</h5>

<%= form_with model: @customer, url: customer_session_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :"名前" %>
    （姓）<%= f.email_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "山田" %>
    （名）<%= f.email_field :last_name, autocomplete: "last_name", placeholder: "太郎" %>
  </div>

  <div class="field">
    <%= f.label :"フリガナ" %>
    （姓）<%= f.email_field :first_name_kana, autocomplete: "first_name", placeholder: "ヤマダ" %>
    （名）<%= f.email_field :last_name_kana, autocomplete: "last_name", placeholder: "タロウ" %>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label :"郵便番号(ハイフンなし)" %>
    <%= f.email_field :postcode, autocomplete: "postcode", placeholder: "0000000" %>
  </div>

  <div class="field">
    <%= f.label :"住所" %>
    <%= f.email_field :address, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>

  <div class="field">
    <%= f.label :"電話番号" %>
    <%= f.email_field :phone_number, autocomplete: "phone_number", placeholder: "0000000000" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード(６文字以上)" %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード(確認用)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class:"btn btn-sm btn-success" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
