<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <table class="tabel table-bordered table-hover">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>ケーキ</td></tr>
          <tr><td>クッキー</td></tr>
          <tr><td>プリン</td></tr>
          <tr><td>焼き菓子</td></tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <%= image_tag @item.image, size: "300x200" %>
    </div>
    <div class="col-md-5">
      <h3 class="item_name py-2"><%= @item.name %></h3>
      <p class="item_introduction py-2"><%= @item.introduction %></p>
      <h3 class="item_price pt-2">¥ <%= @item.with_tax_price %> (税込)</h3>
      <%= form_with model: @cart_item do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :quantity, *[1..10], { include_blank: '個数選択'}, { class: "form-control", required: true } %>
        <%= f.submit "カートに入れる", class:"btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>