<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

    <% if customer_signed_in? %>
      ようこそ、<%= current_customer.first_name %><%= current_customer.last_name %>様</p>
    <% elsif admin_signed_in? %>
     管理者ログイン
    <% else %>
     ようこそ、ゲスト様
    <% end %>

      <a class="navbar-brand" href="/"><span>Nagano Cake</span></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>

          <li>
            <%= link_to "マイページ" %>
          </li>
          <li>
            <%= link_to "商品一覧" %>
          </li>
          <li>
            <%= link_to "カート" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </li>

        <% elsif admin_signed_in? %>
          <li>
            <%= link_to "商品一覧" %>
          </li>
          <li>
            <%= link_to "会員一覧" %>
          </li>
          <li>
            <%= link_to "注文履歴一覧" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </li>

        <% else %>
          <li>
            <%= link_to "About", about_path %>
          </li>
          <li>
            <%= link_to "商品一覧" %>
          </li>
          <li>
            <%= link_to "新規登録", new_customer_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_customer_session_path %>
          </li>
        <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>